{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Verifica&ccedil;&atilde;o Volunt&aacute;ria e Per&iacute;cia Metrol&oacute;gica</h1>
    <p>Conhe&ccedil;a todo o nosso procedimento ou acesse o site do <a href="http://www.inmetro.gov.br/" target="_blank">Inmetro</a> para saber mais.</p>
    <p>Para acessar todos os documentos dispon&iacute;veis <a href="http://www.inmetro.gov.br/metlegal/docDisponiveis.asp" target="_blank"> clique aqui </a></p>
</div>
{% endblock content %}

