{% extends "base_verificacao.html" %}

{% block title %}
    <title>Verificacoes</title>
{% endblock title %}

{% block content %}
    <!-- search form 
    <form class="navbar-form navbar-right" action="." method="get">
    	<button class="btn btn-large btn-primary" type="button" onclick="window.location.href='/verificacao_form_adm/'">Adicionar Verifica&ccedil;&atilde;o</button><br><br>
        <input id="search_box" name="search_box" type="text" placeholder="Search..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </form>-->
    	 		
    <h1>Verifica&ccedil;&otilde;es</h1>

	<div class="table-responsive">
	
    <table  class="table table-striped">
	<tr>
		<th>Verificacao</th>
		<th>Dados Administrativos</th>
		<th>Dados do Medidor</th>
		<th>Requisitos Administrativos</th>
		<th>Requisitos Tecnicos</th>
		<th>Requisitos Metrologicos</th>
		<th>Atualizar</th>
	</tr>
{% for nome in object_list %}
    <tr>
        <td>{{ nome.id_verificacao }}</td>
        <td><a href="/verificacoes/{{ nome.cad_administrativo }}">{{ nome.cad_administrativo }}</a></td>
        <td>{{ nome.cad_medidor }}</td>
        <td>{{ nome.cad_req_adm }}</td> 
        <td>{{ nome.cad_req_tec }}</td>
        <td>{{ nome.cad_req_met }}</td>   
        <td align="center"><a href="/verificacoes/{{ nome.id }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></td>
    </tr>
{% empty %}
        <li>Sem itens na lista.</li>
{% endfor %}
</table>
<div class="table-responsive">

{% endblock content %}